body{
    background-color: white;
}

#container{
    width: auto;
}
.fixet{
    position: fixed;
}
.topbar{
    width: 100%;
   height: 40px;
   background-color: rgba(181, 219, 235, 0.562);
   padding: 30px 20px;
}



.logo{
    font-family: Arial;
    float: left;
    color: rgba(226, 124, 7, 0.973);
    font-size: 20px;
    text-shadow: 5px 5px 5px rgba(160, 83, 11, 0.356);
}

.topbarMenu{
    width: 900px;
    float: right;
    margin-right: 120px;
    margin-top: 8px;

}


.ul-menu li{
    list-style: none;
    float: left;
    padding: 10px;
    width: 102px;
    font-size: 18px;
    font-family:sans-serif;
    font-weight: 300;
    transition: 0.3s;
    cursor: pointer;

}

.ul-menu li:hover{
    color: chocolate;
}



.mainBox{
    width: 450px;
    background-color: rgb(57, 53, 82);
    padding: 5px 5px;
    border-radius: 3px;
   transform:translateX(-500px);
    transition: 0.5s;
}

.mainBox2{
    width: 450px;
    background-color: rgb(57, 53, 82);
    padding: 5px 5px;
    border-radius: 3px;
    left: 0px;
    transform:translateX(0px);
}
.mainBox h3{
    color: white;
    text-align: center;
    font-size: 22px;
    font-family:sans-serif;
}

.box{
    width: 400px;
    transition: 0.4s;
    margin-left: 10px;
}

.box:hover{

    background-color: rgb(57, 53, 82);
    box-shadow: 6px 3px 5px 5px rgba(64, 65, 109, 0.603);
    
}

.ulItem{
    color: white;
    list-style: none;
   font-size: 20px;
   font-family: sans-serif;
    display: block;
    position: relative;
}

.ulItem li{
    padding: 5px 2px;
    border: 1px solid rgba(53, 53, 59, 0.753);
    margin-right: 10px;
   
}

.ulItem li:hover{
    background-color: rgb(32, 32, 48);
    color: chocolate;
}



.subBox{
    width: 220px;
    background: #666bae;
    position:absuloute;
    transition: 0.5s !important;
    visibility: hidden;
    position: absolute;
}

.subBox2{
    transform: translateY(0px);
    visibility: visible;
    position: relative;
}



.subUlItem{
    list-style:none;
    margin-left:0px;
    padding:0px;
    
}
.subUlItem li{
    border:1px solid red;
    padding:5px 10px;
}

/*sub ul*/


.subUlItemSub{
    background-color: blue;
    list-style: none;
    margin-left: 20px;
    width: 110px;
    display: none;
}

.subUlItemSub2{
    display: grid;
}


.subUlItemSub li{
    padding: 5px 0px;
    border: none;
    color: darkturquoise;
}



.icon2{
    display: none;
}
.icon22{
    display: grid;
}

.icon11{
    display: none;
}


https://www.youtube.com/playlist?list=PLRIGFTKsvKUukenIJT8MqmGgHkFisDL7f


